+++
streamId = "Events"
urlFormat = "{{ .slug }}"
+++

<html> 
	<body> 
	  <h1> Event Details </h1>
	  <h2>{{.name }} </h2>
	  <p> {{.date }} </p>
	  <p> {{.address}} </p>
      <p> {{.description}} </p>

	</body> 
</html> 